<html>
<body>
  <h2>
    Title:
        <a href="http://steelgene.com/">XJTLU_EB</a>
  </h2>
  <form role="form">
    <div class="form-group">
      <label for="inputfile">Data retrieval</label>
      <input type="file" id="inputfile">
      <p class="help-block">Choose the .rvt file</p>
    </div>
  </form>
  <form role="form">
    <div class="form-group">
      <label for="name">Major environmental categories:</label>
      <select class="form-control">
         <option>Sustainable Sites</option>
         <option>Water Efficiency</option>
         <option>Energy and Atmosphere</option>
         <option>Material and Resources</option>
         <option>Indoor Environmental Quality</option>
      </select>
      <label for="name">Specific credits</label>
      <select multiple class="form-control">
         <option>
         	Prerequisite 1 Construction Activity Pollution Prevention
         </option>
         <option>
         	Prerequisite 2 Environmental Site Assessment
         </option>
         <option>
         	Credit 1 Site Selection
         </option>
         <option>
         	Credit 2 Development Density and Community Connectivity
         </option>
         <option>
         	Credit 3 Brownfield Redevelopment
         </option>
         <option>
         	Credit 4.1 Alternative Transportation—Public Transportation Access
         </option>
         <option>
         	Credit 4.2 Alternative Transportation—Bicycle Storage and Changing Rooms
         </option>
         <option>
         	Credit 4.3 Alternative Transportation—Low-Emitting and Fuel-Efficient Vehicles
         </option>
         <option>
         	Credit 4.4 Alternative Transportation—Parking Capacity
         </option>
         <option>
         	Credit 5.1 Site Development—Protect or Restore Habitat
         </option>
         <option>
         	Credit 5.2 Site Development—Maximize Open Space
         </option>
         <option>
         	Credit 6.1 Stormwater Design—Quantity Control
         </option>
         <option>
         	Credit 6.2 Stormwater Design—Quality Control
         </option>
         <option>
         	Credit 7.1 Heat Island Effect—Nonroof
         </option>
         <option>
         	Credit 7.2 Heat Island Effect—Roof
         </option>
         <option>
         	Credit 8 Light Pollution Reduction
         </option>
         <option>
         	Credit 9 Site Master Plan
         </option>
         <option>
         	Credit 10 Joint Use of Facilities
         </option>
      </select>
    <br> </br>
   <label for="name">Intent</label>
   <p>
   	To reduce heat islands1 to minimize impacts on microclimates and human and wildlife habitats.
   </p>
   <label for="name">Requirements</label>
   <div>
   	 <label class="checkbox-inline">
       <input type="radio" name="optionsRadiosinline" id="optionsRadios1" 
         value="option1" checked> Option 1
     </label>
     <label class="checkbox-inline">
       <input type="radio" name="optionsRadiosinline" id="optionsRadios2" 
         value="option2"> Option 2
     </label>
     <label class="checkbox-inline">
       <input type="radio" name="optionsRadiosinline" id="optionsRadios3" 
         value="option3"> Option 3
     </label>
   </div>
   <p> </p>
   <p>
   	Use roofing materials with a solar reflectance index (SRI) equal to or greater than the values in the table below for a minimum of 75% of the roof surface.
   </p>

   <div class="form-group">
      <label for="name">Total roof area (sq.m.)</label>
      <input type="text" class="form-control" id="name" placeholder="Please input the value">
   </div>

   <div class="form-group">
      <label for="name">
      	Area low-sloped roof meeting minimum SRI 
      	(sq.m.)
      </label>
      <input type="text" class="form-control" id="name" placeholder="Please input the value">
   </div>

   <div class="form-group">
      <label for="name">
      	Area steep-sloped roof meeting minimum SRI 
      	(sq.m.)
      </label>
      <input type="text" class="form-control" id="name" placeholder="Please input the value">
   </div>

   <table class="table">
   	 <thead>
       <tr>
         <th>Roof Type</th>
         <th>Slope</th>
         <th>SRI</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>Low-sloped roof</td>
         <td>≤ 2:12 (15%)</td>
         <td>78</td>
       </tr>
       <tr>
         <td>Steep-sloped roof</td>
         <td>> 2:12 (15%)</td>
         <td>29</td>
       </tr>
     </tbody>
   </table>

   <button type="submit" class="btn btn-default">Submit</button>
</form>

<br> </br>

<div class="progress progress-striped active">
   <div class="progress-bar progress-bar-success" role="progressbar" 
      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
      style="width: 42%;">
      <span class="sr-only">42%</span>
   </div>
</div>

<label for="name">Total point: 42</label>

</body>
</html>