<h1>New project</h1>

<form role="form">
   <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="name"
         placeholder="Please input the title">
   </div>
   <div class="form-group">
      <label for="name">Area</label>
      <select class="form-control">
         <option>China</option>
         <option>American</option>
      </select>
   </div>   
   <div class="form-group">
      <label for="name">Architect type</label>
      <select class="form-control">
         <option>LEED-NC</option>
         <option>LEED-CS</option>
         <option>LEED-CI</option>
         <option>LEED-Home</option>
         <option>LEED-School</option>
      </select>
   </div>   
   <br></br>
   <div class="center">
   	 <button type="submit" 
   	   class="btn btn-primary btn-lg">Submit
   	 </button>
   </div>
</form>